<html>
<head>
  <title>{% block "title" %} Givester {% endblock %}</title>
  {% load static %}
  <link rel="stylesheet" href="{% static 'minty.css' %}" type="text/css">
  {% load static %}
  <link rel="stylesheet" href="{% static 'styles.css' %}" type="text/css">
  <!-- <link rel="stylesheet" href="static/minty.css"> -->

  
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



</head>



<body>
  <nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="/">Givester</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarColor01">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="/">Home
              <span class="visually-hidden">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/events/view">Events</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/about">About</a>
            
          </li>
        </ul>
        <ul class="navbar-nav ml-md-auto">
          <li class="nav-item">
            <a class="nav-link active" href=" https://codejam.mcgilleus.ca/">
              Contact Us
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href=" https://mail.google.com/">
              <i class="fa fa-envelope" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href="https://www.instagram.com/">
              <i class="fa fa-instagram" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" href=" https://twitter.com/">
              <i class="fa fa-twitter" aria-hidden="true"></i>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
    <div id="content" name="content">
        {% block content %}
        {% endblock %}
    </div>


</body>


</html>