{% extends 'base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}
<div class="container-lg">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 0px solid #ddd;
            padding: 30px; 
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #ccffdd;
        }

        .address {
            font-size: 16px;
            color: #888;
            margin-top: 5px;
        }

        button {
            padding: 12px 20px; 
            font-size: 16px;
            background-color: #ffffff;
            border-radius: 18px;
        }
    </style>
    <br>
    <h1>Volunteering Events</h1>
  
    <br>

    <table>
        <tr>
           
        </tr>
        <tr>
            <td>
                <h3>Feed the homeless</h3>
                <p>Volunteer to make a meaningful impact by participating in a "Feed the Homeless" initiative, where you'll contribute to providing warm meals and essential nourishment to individuals experiencing homelessness, fostering a sense of community and support. Your involvement not only addresses immediate nutritional needs but also brings hope and dignity to those facing challenging circumstances. </p>
                <p>Date: November 1, 2023</p>
                <p class="address">Address: 123 street, QC Montreal</p>
                <button type="button">Apply</button>
                
                <a class="nav-link" href="/events/apply">Apply</a>
                
            </td>
        </tr>
      
      
    
        <tr>
            <td>
                <h3>Be a caregiver for the elderly</h3>
                <p>Join the fulfilling role of a caregiver for the elderly, offering companionship and assistance to seniors in need. Your compassionate efforts will enhance their quality of life, providing both physical and emotional support as you build meaningful connections within the community. Being a caregiver is an opportunity to create lasting bonds, bringing joy and comfort to those who may feel isolated.<p>Date: November 5, 2023</p>
                <p class="address">Address: 123 street, QC Montreal</p>
                <button type="button">Apply</button>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Plant trees</h3>
                <p>Contribute to environmental sustainability by participating in a tree-planting event. As a volunteer, you'll play a vital role in improving air quality, conserving natural habitats, and fostering a greener future for generations to come through the simple yet impactful act of planting trees. This hands-on experience allows you to connect with nature and be part of a positive ecological change.<p>Date: November 10, 2023</p>
                <p class="address">Address: 123 street, QC Montreal</p>
                <button type="button">Apply</button>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Wash some dishes</h3>
                <p>Support local community centers or shelters by volunteering to wash dishes, a task often overlooked but crucial for maintaining cleanliness and hygiene. Your efforts will directly contribute to the smooth operation of facilities that serve those in need. By taking on this essential role, you contribute to creating a welcoming and sanitary environment for individuals seeking assistance.<p>Date: November 15, 2023</p>
                <p class="address">Address: 123 street, QC Montreal</p>
                <button type="button">Apply</button>
            </td>
        </tr>
        <tr>
            <td>
                <h3>Rake some leaves</h3>
                <p>Embrace the outdoors and lend a helping hand by volunteering to rake leaves in parks or public spaces. This simple yet essential task not only beautifies the environment but also ensures safety and accessibility for the community, fostering a cleaner and more enjoyable outdoor space. Your contribution goes beyond aesthetics, positively impacting the well-being of the community and promoting a sense of shared responsibility for public spaces.<p>Date: November 20, 2023</p>
                <p class="address">Address: 123 street, QC Montreal</p>
                <button type="button">Apply</button>
            </td>
        </tr>
    </table>

</div>


{% endblock %}
