{% extends 'base.html' %}

{% block title %}
Events
{% endblock %}

{% block content %}
<div class="container-lg">

    <style>
        table {
            width: 100%;
            border-collapse: collapse;
            margin-bottom: 20px;
        }

        th, td {
            border: 0px solid #ddd;
            padding: 30px; 
            text-align: left;
        }

        th {
            background-color: #f2f2f2;
        }

        tr:nth-child(even) {
            background-color: #ccffdd;
        }

        .address {
            font-size: 16px;
            color: #888;
            margin-top: 5px;
        }

        button {
            padding: 12px 20px; 
            font-size: 16px;
            background-color: #ffffff;
            border-radius: 18px;
        }
        footer {
            background-color: #333;
            color: #fff;
            padding: 20px;
            text-align: center;
            bottom: 0;
            width: 100%;
          }
    </style>
    <br>
    <h1>Volunteering Events</h1>
  
    <br>

    <table>
        <tr>
        </tr>
        {% for element in event %}

        <tr>
            <td>
                <h3>{{ element.title }}</h3>
                <p>{{ element.description }} </p>
                <p>{{ element.date }}</p>
                <p class="address">{{ element.address }}</p>
                
                

             
                <button type="button">
                    <a class="nav-link" href="/events/apply/{{ element.id }}">Apply</a>
                </button>

            </td>
        </tr>

        {% endfor %}

    </table>

    <footer>
        <p>&copy; 2023 Givester | Designed by Jacob and Jeffrey</p>
      </footer>
    


{% endblock %}
